<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Alfajores de Maizena</title>
</head>

</body>
<h1>Receta de Alfajores de Maizena</h1>
<p>descripcion de receta</p>
<hr>
<h2>Lista de ingredientes</h2>
<ul>
   <li>Manteca</li>
   <li>Azucar</li>
   <li>Huevos (3 yemas)</li>
   <li>Ralladura de Limon</li>
   <li>Esencia de Vainilla</li>
   <li>Harina Leudante</li>
   <li>Bicarbonato de Sodio</li>
   <li>Dulce de Leche</li>
   <li>Coco Rallado</li>
   <li>Almidon de Maiz</li>
</ul>
<h2>Lista de Pasos</h2>
<ol>
    <li>Batir la manteca (debe estar a temperatura ambiente para que sea más fácil trabajarla) con el azúcar hasta obtener una crema algo blanca.</li>
    <li>Agregar las yemas de a una e ir integrándolas bien con ayuda de un batidor de alambre o batidora eléctrica.</li>
    <li>Perfumar la preparación con Esencia artificial de Vainilla Alicante y ralladura de limón.</li>
    <li>En otro bowl, mezclar la harina, el almidón de maíz y el Bicarbonato de sodio Alicante y luego pasarlos por un colador fino o un tamiz para no añadir grumos cuando se mezclen los secos a la preparación anterior.</li>
    <li>Incorporar la mezcla de los secos ya tamizados a la crema de manteca y azúcar y formar una masa (no se tiene que amasar para no añadir calor con las manos a la manteca, sólo se deben unir todos los ingredientes).</li>
    <li>Envolverla en papel film y dejarla en la heladera por 30 minutos.</li>
    <li>Una vez que la masa esté fría y más sólida, espolvorear la mesada con harina y estirarla con ayuda de un palo de amasar hasta lograr tener una masa de 1/2 cm aproximadamente</li>
    <li>Cortar los alfajorcitos con ayuda de un cortante redondo (también se puede usar un vaso o copa).</li>
    <li>Colocarlos sobre una asadera limpia (no hace falta enmantecarla ya que la masa tiene mucha manteca).</li>
    <li>Llevarlos a horno precalentado a temperatura media (160 C) durante unos 10 minutos o hasta que estén levemente dorados.</li>
    <li>Retirar del horno y dejar enfriar sobre una rejilla</li>
    <li>Una vez fríos, colocar dulce de leche en una tapa y por encima la otra. Pasar los bordes por Coco rallado Alicante y ya están listos para disfrutar.</li>
</ol>
<a href=https://alicante.com.ar/receta/193-receta-alfajores-de-maicena/?gad_source=1&gclid=Cj0KCQjw3bm3BhDJARIsAKnHoVWTr8t7sIlmjiuDhNJzm8YSYeTFi5jfoBLt4QHFhJ4oeI4AWQf_0IAaAgtvEALw_wcB target="_blank">
    Tambien pudes leer esta receta en <strong>"Alicante"</strong>
    <br>
</a>
<a href="arrozConPollo.html">
    Leer receta <em>Arroz con Pollo</em>
 </a>
 <br>
 <a href="../../index.html">
    Volver al inicio
 </a>
    <body>
</html>