<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Arroz con Pollo</title>
</head>

</body>
<h1>Receta de Arroz con Pollo</h1>
<p>descripcion de receta</p>
<img src="../img/arroz con pollo.jpg"  width="600" height="auto" alt="olla de arroz con pollo">
<hr>
<h2>Lista de ingredientes</h2>
<ul>
   <li>Pollo</li>
   <li>Arroz</li>
   <li>Cebolla</li>
   <li>Zanahoria</li>
   <li>Pimienta</li>
   <li>Arbejas</li>
   <li>Perejil</li>
   <li>Caldo de Gallina</li>
   <li>Agua</li>
   <li>Azafran</li>
   <li>Sal</li>
   <li>Morron</li>
</ul>
<h2>Lista de Pasos</h2>
<ol>
    <li>Salpimentar el pollo, calentar el aceite en una sartén y dorarlo. Retirar.</li>
    <li>En la misma sartén dorar la cebolla y el morrón. Agregar el arroz y rehogar un minuto. Incorporar el pollo dorado y el azafrán.</li>
    <li>Sumar el agua y salpimentar.</li>
    <li>Cocinar 16 minutos a fuego muy bajo. Cuando el arroz esté casi listo, añadir las arvejas y los morrones en tiras.</li>
    <li>Cocinar 2 minutos más, apagar, tapar y esperar 5 minutos para servir.</li>
</ol>
<iframe width="1250" height="703" src="https://www.youtube.com/embed/4vEcK1X6VcA" title="Mi receta de Arroz con Pollo paso a paso" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<a href="https://www.clarin.com/recetas/platos-principales/arroz-pollo_7_gXIr4qrQJ.html?srsltid=AfmBOoqKR-q2zjKun3GRV7p3jS-hLuDoxQ29FW134W03lL24eiLd7Jm9" target="_blank">
Leer esta receta en <strong>"Clarin"</strong>
</a>
<br>
<a href="https://www.knorr.com/ar/r/arroz-con-pollo-by-knorr.html/109876?gad_source=1&gclid=Cj0KCQjw3bm3BhDJARIsAKnHoVXtCLZdRiHAeU2384eQVjophBtkoCeze8hGknU13POG9flsZxMJ2UQaAktcEALw_wcB&gclsrc=aw.ds" target="_blank">
    Tambien la pudes leer en <strong>"Knorr"</strong>
</a>
<br>
 <a href="alfajores-de-maicena.html">
    Leer receta <em>Alfajores de Maizena</em>
 </a>
 <br>
 <a href="../../index.html">
    Volver al inicio
 </a>
    <body>
</html>